root {
    display:block;
}
.root {
    -fx-background-color: #404552;
    -fx-font-family: Ubuntu Regular;
}
.tab-pane {
    -fx-background-color: #404552;
}
.button {
    -fx-background-color: #4083d5;
    -fx-background-radius: 5px;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
}
.button:hover {
    -fx-background-color: #469af4;
}
.text-field {
    -fx-background-radius: 3px;
    -fx-background-color: #404552;
    -fx-border-color: #212121;
    -fx-border-radius: 3px;
    -fx-text-fill: #ffffff;
}
.chart {
    -fx-legend-visible: false;
}
.chart-title {
    -fx-text-fill: #ffffff;
    -fx-font-family: Ubuntu Regular;
    -fx-font-weight: bold;
}
.chart-pie-label {
    -fx-fill: white;
}
.slider .axis {
    -fx-tick-label-fill: #ffffff;
}
.accordion {
    -fx-text-fill: #ffffff;
    -fx-background-color: #404552;
}
.split-pane {
    -fx-background-color: #404552;
}
.textLabel {
    -fx-text-fill: #ffffff;
    -fx-font-family: Liberation Serif;
}
.circle {
    -fx-fill: #404552;
    -fx-stroke: white;
    -fx-stroke-width: 1px;
}
.chartLabel {
    -fx-fill: #ffffff;
    -fx-font-family: Liberation Serif;
    -fx-font-weight: bold;
}
.exhaustPane {
    -fx-background-repeat: space;
    -fx-background-size: 608 236;
    -fx-background-position: center center;
    -fx-background-image: url("images/exhaust_tsc.png");
}
.label {
    -fx-text-fill: #ffffff;
    -fx-alignment: center;
}


